@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Very-Dark-Grayish-Blue: 217deg 19% 35%;
  --Desaturated-Dark-Blue: 214deg 17% 51%;
  --Grayish-Blue: 212deg 23% 69%;
  --Light-Grayish-Blue: 210deg 46% 95%;
}
